/**
 * @file
 * CSS file for reach us module.
 */

ul.reachus-wrap {
  margin-left: 0px;
  padding: 0px;
  display: block;
}

.reachus-item a {
  padding-left: 3px;
  padding-right: 3px;
}

.reachus-item {
  list-style: none;
}

.reachus-vertical .reachus-item {
  display: table;
  margin: 3px 0px;
  clear: both;
  width: 100%;
}

.reachus-horizontal  .reachus-item {
  display: block;
  margin: 0px;
  float: left;
}

.reachus-img:hover {
  opacity: 0.8;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.reachus-text .reachus-item {
  background: #ccc;
  padding: 4px;
}
.reachus-text.reachus-vertical .reachus-item {
  margin-left: 0px;
  display: block;
}
.reachus-text.reachus-horizontal  .reachus-item {
  margin-left: 5px;
  margin-bottom: 5px;
}
.reachus-both .reachus-img {
  float: left;
  margin-right: 10px;
}

.reachus-both a,
.reachus-icon a {
  display: block;
}
.reachus-both.reachus-lg  .reachus-txt ,
.reachus-both.reachus-md  .reachus-txt ,
.reachus-both.reachus-sm  .reachus-txt {
  vertical-align: middle;
  display: table-cell;
  float: left;
  line-height: 1.5em;
}

.reachus-both.reachus-lg .reachus-txt,
.reachus-both.reachus-lg a {
  height: 64px;
}
.reachus-both.reachus-md  .reachus-txt,
.reachus-both.reachus-md a {
  height: 48px;
}
.reachus-both.reachus-sm  .reachus-txt,
.reachus-both.reachus-sm a {
  height: 32px;
}
.reachus-both.reachus-lg  .reachus-txt {
  font-size: 3em;
}
.reachus-both.reachus-md  .reachus-txt {
  font-size: 2em;
}
.reachus-both.reachus-sm  .reachus-txt {
  font-size: 1em;
}
.reachus-sm a .reachus-img {
  background-image: url('images/iconssm.png');
  display: block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  padding: 0;
}

.reachus-md a  .reachus-img {
  background-image: url('images/iconsmd.png');
  display: block;
  width: 48px;
  height: 48px;
  overflow: hidden;
  padding: 0;
}

.reachus-lg a   .reachus-img {
  background-image: url('images/iconslg.png');
  display: block;
  width: 64px;
  height: 64px;
  overflow: hidden;
  background-repeat: no-repeat;
  padding: 0;
}
.reachus-lg .reachus-item-phone a .reachus-img {
  background-position: 0px 0px;
}
.reachus-lg .reachus-item-sms a .reachus-img {
  background-position: -64px 0px;
}
.reachus-lg .reachus-item-email a .reachus-img {
  background-position: -128px 0px;
}
.reachus-lg .reachus-item-fbchat a .reachus-img {
  background-position: -192px 0px;
}
.reachus-lg .reachus-item-whatsapp a .reachus-img {
  background-position: -256px 0px;
}
.reachus-lg .reachus-item-facetime a .reachus-img {
  background-position: -320px 0px;
}
.reachus-lg .reachus-item-skypecall a .reachus-img {
  background-position: -384px 0px;
}
.reachus-lg .reachus-item-skypechat a .reachus-img {
  background-position: -448px 0px;
}
.reachus-lg .reachus-item-ymsgr a .reachus-img {
  background-position: -512px 0px;
}
.reachus-lg .reachus-item-aim a .reachus-img {
  background-position: -576px 0px;
}

.reachus-md .reachus-item-phone a .reachus-img {
  background-position: 0px 0px;
}
.reachus-md .reachus-item-sms a .reachus-img {
  background-position: -48px 0px;
}
.reachus-md .reachus-item-email a .reachus-img {
  background-position: -96px 0px;
}
.reachus-md .reachus-item-fbchat a .reachus-img {
  background-position: -144px 0px;
}
.reachus-md .reachus-item-whatsapp a .reachus-img {
  background-position: -192px 0px;
}
.reachus-md .reachus-item-facetime a .reachus-img {
  background-position: -240px 0px;
}
.reachus-md .reachus-item-skypecall a .reachus-img {
  background-position: -288px 0px;
}
.reachus-md .reachus-item-skypechat a .reachus-img {
  background-position: -336px 0px;
}
.reachus-md .reachus-item-ymsgr a .reachus-img {
  background-position: -384px 0px;
}
.reachus-md .reachus-item-aim a .reachus-img {
  background-position: -432px 0px;
}

.reachus-sm .reachus-item-phone a .reachus-img {
  background-position: 0px 0px;
}
.reachus-sm .reachus-item-sms a .reachus-img {
  background-position: -32px 0px;
}
.reachus-sm .reachus-item-email a .reachus-img {
  background-position: -64px 0px;
}
.reachus-sm .reachus-item-fbchat a .reachus-img {
  background-position: -96px 0px;
}
.reachus-sm .reachus-item-whatsapp a .reachus-img {
  background-position: -128px 0px;
}
.reachus-sm .reachus-item-facetime a .reachus-img {
  background-position: -160px 0px;
}
.reachus-sm .reachus-item-skypecall a .reachus-img {
  background-position: -192px 0px;
}
.reachus-sm .reachus-item-skypechat a .reachus-img {
  background-position: -224px 0px;
}
.reachus-sm .reachus-item-ymsgr a .reachus-img {
  background-position: -256px 0px;
}
.reachus-sm .reachus-item-aim a .reachus-img {
  background-position: -288px 0px;
}
